/* HTML ELEMENTS */

html {
  background: #009A17;
  font-family: "Major Mono Display", fixed-width;
}

body {
  counter-reset: trap;
}

footer {
  opacity: .5;
  color: #FFF;
  font-size: 4vw;
  text-transform: lowercase;
  right: 0;
  bottom: 0;
  position: absolute;
}

/* IDs */

#tee {
  background: #98FB98;
}

#target {
  background: #222;
  max-height: 250px;
  max-width: 200px;
  border-radius: 100%;
}

#ball {
  background: #FFF;
  max-height: 200px;
  max-width: 200px;
  border-radius: 100%;
  opacity: .9;
  text-transform: lowercase;
}

#par {
  position: absolute;
  top: 0;
  right:0;
  color: #FFF;
  font-size: 2vw;
  text-transform: lowercase;
}

/* CLASSES */

.sandtrap {
  background: #c2b280;
}

.water {
  background: #0000FF;
}


/* HOLE 1 */

#hole-1 #target {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25%;
  height: 25%;
  transform: translate(-50%, -50%);
}

#hole-1 #ball {
  width: 80%;
  height: 80%;
}

/* HOLE 2 */

#hole-2 #target {
  position: absolute;
  top: 70%;
  left: 60%;
  height: 20%;
  width: 11%;
}

#hole-2 #ball {
  width: 8%;
  height: 15%;
}

#hole-2 .traps {
  position: absolute;
  top: 40%;
  left: 20%;
  width: 40%;
  height: 50%;
  overflow: visible;
}

#hole-2 .sandtrap {
  position: relative;
  transform: rotate(20deg);
  width: 100%;
  height: 100%;
  border-radius: 50% 25% 75% / 50%;
}

/* HOLE 3 */

#hole-3 .traps.lake {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 20%;
  height: 30%;
  overflow: visible;
}

#hole-3 .water {
  position: relative;
  transform: rotate(-60deg);
  width: 100%;
  height: 100%;
  border-radius: 92% 35% 65% 163% / 40% 83% 119% 223%
}

#hole-3 .traps.sand {
  position: absolute;
  top: 60%;
  left: 50%;
  width: 30%;
  height: 40%;
  overflow: visible;
}

#hole-3 .sandtrap {
  position: relative;
  transform: rotate(20deg);
  width: 100%;
  height: 100%;
  border-radius: 50% 25% / 80%;
}

#hole-3 #target {
  position: absolute;
  top: 70%;
  left: 10%;
  height: 10vw;
  width: 10vw;
}

#hole-3 #ball {
  width: 6vw;
  height: 6vw;
  right:0;
  top:10%;
  position: absolute;
}